[submodule "Core"]
	path = Core
	url = https://github.com/EventGhost-Test-Organization/Core
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/EventGhost-Test-Organization/Extensions
